<p *ngIf="!applications"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="applications">
    <thead>
        <tr>
            <th>№ Заявки</th>
            <th>Адрес</th>
            <th>Округ</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let application of applications">
            <td>{{ application.applicationId }}</td>
            <td>{{ application.address }}</td>
            <td>{{ application.district.districtName }}</td>
            <td>{{ application.applicationStatus.statusName }}</td>
        </tr>
    </tbody>
</table>
 <ngb-pagination [(collectionSize)]="count" [(page)]="page" (pageChange)="loadPage($event)" [(pageSize)]="itemsPerPage" [maxSize]="7" [rotate]="true"></ngb-pagination> 
<!-- <ngb-pagination [collectionSize]="applications" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination> -->