<p *ngIf="!list"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="list">
    <thead>
        <tr>
            <th>№ Заявки</th>
            <th>Адрес</th>
            <th>Округ</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let application of list.Records">
            <td>{{ application.applicationId }}</td>
            <td>{{ application.address }}</td>
            <td>{{ application.district.districtName }}</td>
            <td>{{ application.applicationStatus.statusName }}</td>
        </tr>
    </tbody>
</table>
<ngb-pagination [collectionSize]="70" [(page)]="page"></ngb-pagination>